node_modules
**/node_modules
**/dist
**/*.tsbuildinfo
.git
.github
.vscode
.idea
build-out
build-artifacts
*.log
*.img
*.iso
test-vectors/fixture.json
apps/mobile
apps/web/tests
packages/*/tests
packages/*/dist
*.md
LICENSE
.gitignore
.dockerignore
